@model SEProject.Models.GiangVien

@{
    ViewBag.Title = "Thông tin";
}

<h2>Thông tin</h2>

<fieldset>
    <legend>Giảng Viên</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hoTen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hoTen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.chucDanh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chucDanh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.chuyenNganh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chuyenNganh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.donVi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.donVi)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
