@model SEProject.Models.GiangVien

@{
    ViewBag.Title = "Chỉnh sửa";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Giảng Viên</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.hoTen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hoTen)
            @Html.ValidationMessageFor(model => model.hoTen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.chucDanh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.chucDanh)
            @Html.ValidationMessageFor(model => model.chucDanh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.chuyenNganh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.chuyenNganh)
            @Html.ValidationMessageFor(model => model.chuyenNganh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.donVi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.donVi)
            @Html.ValidationMessageFor(model => model.donVi)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
