@model SEProject.Models.DaoTao

@{
    ViewBag.Title = "Chỉnh sửa";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DaoTao</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            <h4>Tên môn học</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenMonHoc)
            @Html.ValidationMessageFor(model => model.tenMonHoc)
        </div>

        <div class="editor-label">
            <h4>Tên giảng viên</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenGiangVien)
            @Html.ValidationMessageFor(model => model.tenGiangVien)
        </div>

        <p>
            <input type="submit" value="Lưu lại" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay lại danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
