@model IEnumerable<SEProject.Models.DaoTao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table>
    <tr align ="center">
        <th>
           <h4>Tên môn học</h4>
        </th>
        <th>
            <h4>Tên giảng viên</h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenGiangVien)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
