@model IEnumerable<SEProject.Models.DaoTao>
@{
    ViewBag.Title = "Chương trình đào tạo";
}

<h2>Chương trình đào tạo</h2>

<p>
    @using (Html.BeginForm()){    
         <p> Ngành: @Html.DropDownList("nganh", (SelectList)ViewBag.listChuyenNganh)    
             Khóa: @Html.DropDownList("nam", (SelectList)ViewBag.listKhoaHoc) 
         <input type="submit" value="Xem" /></p> 
        }
</p>
<table>
    <tr align = "center">
        <th>
            <h4>Môn học</h4>
        </th>
        <th>
            <h4>Giảng viên</h4>
        </th>
        <th>
            <h4>Khóa</h4>
        </th>
        <th>
            <h4>Ngành</h4>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenGiangVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.khoaHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nganhHoc)
        </td>
    </tr>
}

</table>
