@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
             
            </p>
        </div>
    </section>
}
<h3>Chức năng</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Thông tin môn học","", "MonHoc")</h5>
        Hiển thị danh sách môn học; thêm, sửa, xóa các môn học.
    </li>

    <li class="two">
        <h5>@Html.ActionLink("Thông tin giảng viên","", "GiangVien")</h5>
        Hiển thị danh sách giảng viên; thêm, sửa, xóa giảng viên.
    </li>

    @*<li class="three">
        <h5>@Html.ActionLink("Tạo mới, chỉnh sửa",</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>*@
</ol>
