@model SEProject.Models.MonHoc

@{
    ViewBag.Title = "Tạo mới";
}

<h2>Tạo mới</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Môn học</legend>

        <div class="editor-label">
            Mã môn học
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.maMonHoc)
            @Html.ValidationMessageFor(model => model.maMonHoc)
        </div>

        <div class="editor-label">
            Tên môn học
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenMonHoc)
            @Html.ValidationMessageFor(model => model.tenMonHoc)
        </div>

        <div class="editor-label">
            Số tín chỉ
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.soTinChi)
            @Html.ValidationMessageFor(model => model.soTinChi)
        </div>

        <div class="editor-label">
            Số giờ lý thuyết
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gioLyThuyet)
            @Html.ValidationMessageFor(model => model.gioLyThuyet)
        </div>

        <div class="editor-label">
            Số giờ thực hành
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gioThucHanh)
            @Html.ValidationMessageFor(model => model.gioThucHanh)
        </div>

        <div class="editor-label">
            Số giờ tự học
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gioTuHoc)
            @Html.ValidationMessageFor(model => model.gioTuHoc)
        </div>

        <div class="editor-label">
            Mã môn học kiên quyết
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.maMonKienQuyet)
            @Html.ValidationMessageFor(model => model.maMonKienQuyet)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
