@model SEProject.Models.MonHoc

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MonHoc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.maMonHoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maMonHoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tenMonHoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tenMonHoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.soTinChi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.soTinChi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gioLyThuyet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gioLyThuyet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gioThucHanh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gioThucHanh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gioTuHoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gioTuHoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.maMonKienQuyet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maMonKienQuyet)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
