@model IEnumerable<SEProject.Models.GiangVien>

@{
    ViewBag.Title = "Giảng viên";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create") |
    @Html.ActionLink("Tìm kiếm","SearchGiangVien")
</p>
<table align="center" cellspacing="10">
    <tr align="center">
        <td>
            <h4>Họ tên</h4>
        </td>
        <td>
            <h4>Chức danh</h4>
        </td>
        <td>
            <h4>Chuyên ngành</h4>
        </td>
        <td>
            <h4>Đơn vị</h4>
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr align="center">
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chucDanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chuyenNganh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donVi)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
