@model IEnumerable<SEProject.Models.GiangVien>

@{
    ViewBag.Title = "Search";
}

<h2>Tìm kiếm giảng viên</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
    @using (Html.BeginForm()){    
         <p> Ngành: @Html.DropDownList("chuyenNganh", "All")     Nhập tên giảng viên: @Html.TextBox("searchgv")
         <input type="submit" value="Tìm kiếm" /></p> 
        }
</p>
<table>
    <tr align ="center">
        <td>
            <h4>Họ tên</h4>
        </td>
        <td>
            <h4>Chức danh</h4>
        </td>
        <td>
            <h4>Chuyên ngành</h4>
        </td>
        <td>
            <h4>Đơn vị</h4>
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr align ="center">
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chucDanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chuyenNganh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donVi)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
