@model SEProject.Models.MonHoc

@{
    ViewBag.Title = "";
}

<h2>Chi tiết</h2>

<fieldset>
    <legend>MonHoc</legend>

    <div class="editor-label">
         <h4>Mã môn học</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maMonHoc)
    </div>

    <div class="editor-label">
         <h4>Tên môn học</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tenMonHoc)
    </div>

    <div class="editor-label">
         <h4>Số tín chỉ</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.soTinChi)
    </div>

    <div class="editor-label">
         <h4>Giờ lý thuyết</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gioLyThuyet)
    </div>

    <div class="editor-label">
         <h4>Giờ thực hành</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gioThucHanh)
    </div>

    <div class="editor-label">
        <h4>Giờ tự học</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gioTuHoc)
    </div>

    <div class="editor-label">
         <h4>Mã môn học tiên quyết</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maMonKienQuyet)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
