@model IEnumerable<SEProject.Models.MonHoc>

@{
    ViewBag.Title = "Search";
}

<h2>Tìm kiếm môn học</h2>

<p>
    @*@Html.ActionLink("Tạo mới", "Create")*@
    @using (Html.BeginForm("SearchMonHoc", "MonHoc", FormMethod.Get))
    {    
         <p> Nhập tên môn: @Html.TextBox("searchmh") 
         <input type="submit" value="Tìm kiếm" /></p> 
        }
</p>
<table>
    <tr align ="center">
        <td>
            <h4>Mã môn học</h4> 
        </td>
        <td>
            <h4>Tên môn học</h4>
        </td>
        <td>
            <h4>Số tín chỉ</h4>
        </td>
        <td>
            <h4>Môn tiên quyết</h4>
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr align ="center">
        <td>
            @Html.DisplayFor(modelItem => item.maMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soTinChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maMonKienQuyet)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
