@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
             
            </p>
        </div>
    </section>
}
<h3>Chức năng</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Thông tin môn học","", "MonHoc")</h5>
        Hiển thị danh sách môn học; thêm, sửa, xóa các môn học.
    </li>

    <li class="two">
        <h5>@Html.ActionLink("Thông tin giảng viên","", "GiangVien")</h5>
        Hiển thị danh sách giảng viên; thêm, sửa, xóa giảng viên.
    </li>

    <li class="three">
        <h5>@Html.ActionLink("Thông tin đào tạo", "", "DaoTao")</h5>
        Hiển thị thông tin đào tạo theo môn học và giảng viên.

    </li>
</ol>
